h1{
    background-color: rgb(26, 235, 8);
    color: darkblue;
    text-align: center;
    text-size-adjust: 50%;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    text-transform: capitalize;
}
.p1{
    background-color: darkblue; width: 99.6%;
    font-size: 1.5em;
    text-align: center;
    word-spacing: 0.3em;
    color: blanchedalmond;
    border: chartreuse solid 2px;
    
}
.alin{text-indent: 3em; text-align: center; }
body{
    color: white;
    background-color: black;
    border: darkblue 5px solid;
    font-weight: 3em; /*aqui espacamento entre linhas*/
    /*text-indent: 3em; /*aqui onde controlamos o espaçamento de inicio do texto*/
}
span{
    color: yellow;
}
.redes{
    width: 500px;
    text-align: center;
   border: white 3px solid; 
   color: rgb(13, 16, 177);
   background-color: rgb(11, 235, 67);
   font-size: 1em;
   font-family: Arial, Helvetica, sans-serif
   
}
.exp{
    width: 500px;
    background-color: aqua;   
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    border: rgb(238, 8, 8) 3px dashed;
}